*{
    margin: 0;
    font-family:"Apple SD Gothic Neo";
}

section{
    width: 100vw;
    height: 100vh;
    background-color: #E2E5EC;
}

#form{
    width: 30vw;
    height: 74vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
    top: 10vh;
    background-color: white;
    border-radius: 1vw;
}

h1{
    position: relative;
    text-align: center;
    top: 2vh;
}

