
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN DASHBOARD</title>
    <link rel="stylesheet" href="../assets/styles/Admin.css">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/styles/custom/sb-admin-2.min.css" rel="stylesheet">



</head>

<body style="overflow-x: hidden">

<nav style="background-color: #0A1E4F!important;position: fixed;z-index: 4;width: 100vw" class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <!--        <img src="" alt="logo" style="width:140px;">-->
        <h4 style="color: white">CAR RENTAL</h4>
    </a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../assets/img/sms.png" style="width: 22px;height: 22px" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../assets/img/noti.png" style="width: 22px;height: 22px" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../assets/img/profile.png" style="width: 22px;height: 22px" alt=""></a>
        </li>
    </ul>
</nav>

<section class="side-bar-warp" style="position: relative;z-index: 1;top: 6vh">
    <div class="sidebar-menu full-side-bar flowHide" style="background-color: #0A1E4F">
        <nav class="" >
            <ul class="navbar-nav mt-4">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/dash.png" alt="" style="width: 20px;height: 20px"></span>
                        <span id="dashBtn" class="fadeInRight animated nav-link-name">DASHBOARD</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/profile.png" alt="" style="width: 20px;height: 20px" alt=""></span>
                        <!--                        <span class="fadeInRight animated nav-link-name name-hide tax-show">CUSTOMER</span>-->
                        <span id="customerBtn" class="fadeInRight animated nav-link-name">CUSTOMER</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/driver.png" alt="" style="width: 25px;height: 28px" ></span>
                        <span  id="driverBtn" class="fadeInRight animated nav-link-name">DRIVER</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/car.png" alt="" style="width: 25px;height: 28px" ></span>
                        <span  id="carBtn" class="fadeInRight animated nav-link-name">CAR</span>
                    </a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/book.png" style="width: 25px;height: 26px" alt=""></span>
                        <!--                        <span class="fadeInRight animated nav-link-name name-hide tax-show">DRIVERS</span>-->
                        <span id="bookBtn" class="fadeInRight animated nav-link-name">BOOKING</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/rent.png" alt="" style="width: 20px;height: 20px" alt=""></span>
                        <!--                        <span class="fadeInRight animated nav-link-name name-hide tax-show">RENT</span>-->
                        <span id="paymentBtn" class="fadeInRight animated nav-link-name">PAYMENT</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/payment.png" alt="" style="width: 24px;height: 21px" alt=""></span>
                        <!--                        <span class="fadeInRight animated nav-link-name name-hide tax-show">PAYMENT</span>-->
                        <span class="fadeInRight animated nav-link-name">REPORT</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/logout.png" alt="" style="width: 22px;height: 20px" alt=""></span>
                        <!--                        <span class="fadeInRight animated nav-link-name name-hide tax-show">Log Out</span>-->
                        <span id="logOutBtn" class="fadeInRight animated nav-link-name">LOGOUT</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section id="mainContext" style="z-index: 1;position: relative;top: 8vh">

   <div id="dashboard">
       <div class="container-fluid">

           <div class="d-sm-flex align-items-center justify-content-between mb-4">
               <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
           </div>

           <div class="row">

               <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-success shadow h-100 py-2">
                       <div class="card-body">
                           <div class="row no-gutters align-items-center">
                               <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                       Earnings (Annual)</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                               </div>
                               <div class="col-auto">
                                   <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-primary shadow h-100 py-2">
                       <div class="card-body">
                           <div class="row no-gutters align-items-center">
                               <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                       Earnings (Monthly)</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                               </div>
                               <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-warning  shadow h-100 py-2">
                       <div class="card-body">
                           <div class="row no-gutters align-items-center">
                               <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                       Total Booking</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
                               </div>
                               <div class="col-auto">
                                   <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-info   shadow h-100 py-2">
                       <div class="card-body">
                           <div class="row no-gutters align-items-center">
                               <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                       Available Driver</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                               </div>
                               <div class="col-auto">
                                   <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>





           </div>
       </div>

       <div class="container-fluid">
           <div class="row justify-content-around mt-4">

               <div class="col-xl-8 col-md-6 mb-4">
                    <img src="../assets/img/dashCarDeatil.png" style="width: 52vw;height: 47vh;border-radius: 2vw">
               </div>

               <div class="col-xl-4 col-md-6 me-5">
                   <img src="../assets/img/Statistics.png" style="width: 26vw;height: 50vh;border-radius: 2vw">
               </div>
           </div>
           <div class="row justify-content-around ">

               <div class="col-xl-8 col-md-6 mb-4">
                   <img src="../assets/img/Graph.png" style="width: 45vw;height: 27vh;border-radius: 2vw">
               </div>

               <div class="col-xl-4 col-md-6 ">
                   <img src="../assets/img/card.png" style="width: 24vw;height: 26vh;border-radius: 2vw">
               </div>
           </div>
       </div>
       </div>

   </div>

    <div id="customer">

        <div class="container-fluid">

           <div class="row">
               <div class="col-6">
                   <h1 class="h3 mb-0 text-gray-800">Customer</h1>
               </div>

               <div class="col-4">
                   <form class="d-flex" role="search">
                       <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-success mx-1" type="button" id="search">Search</button>
                   </form>
               </div>

           </div>

            <div class="d-flex justify-content-center mt-5">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CONTACT</th>
                        <th>E-MAIL</th>
                        <th>USERNAME</th>
                    </tr>
                    </thead>
                    <tbody id="tblCustomer">

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div id="driver">
       <div class="container-fluid">

           <div class="col-6">
               <h1 class="h3 mb-0 text-gray-800">Driver</h1>
           </div>

           <form id="driverForm">
               <div class="row justify-content-around mt-3">
                   <div class="col-xl-8 col-md-6 mb-4">
                       <div class="row justify-content-around mt-4">
                           <div class="mb-3 w-25">
                               <input type="text" class="form-control" id="txtDriverName"  name="driverName" placeholder="Full Name">
                           </div>

                           <div class="mb-3 w-25">
                               <input type="text" class="form-control" id="txtDriverAddress" name="driverAddress" placeholder="Address">
                           </div>

                           <div class="mb-3  w-25">
                               <input type="text" class="form-control" id="txtDriverContact" name="driverContact" placeholder="Contact">
                           </div>
                       </div>
                       <div class="row justify-content-around mt-4">
                           <div class="mb-3 w-25">
                               <input type="text" class="form-control" id="txtDriverEmail" name="driverEmail" placeholder="Email">
                           </div>

                           <div class="mb-3 w-25">
                               <input type="text" class="form-control" id="txtDriverNic" name="driverNIC" placeholder="DRIVER NIC">
                           </div>

                           <div class="mb-3  w-25">
                               <input type="text" class="form-control" id="txtDriverLicense" name="driverLicence" placeholder="LICENSE NUMBER">
                           </div>
                       </div>
                       <div class="row justify-content-around mt-4">
                           <div class="mb-3 w-25">
                               <input type="text" class="form-control" id="txtDUserName" name="userName" placeholder="User Name">
                           </div>

                           <div class="mb-3 w-25">
                               <input type="text" class="form-control" id="txtDUserPass" name="password" placeholder="Password">
                           </div>

                           <div class="mb-3  w-25">
                               <input type="text" class="form-control" id="txtDRePass" name="role" placeholder="Confirm Password">
                           </div>
                       </div>

                   </div>

                   <div class="col-xl-4 col-md-6 mb-4">
                       <div class="d-flex flex-column align-items-center mt-4">
                           <img id="driverImage" src=""  alt="" style="width: 18vw;height: 16vh;background-color: #EFEFEF">
                           <label for="fileDriverImg" class="btn  btn-outline-dark form-label mt-3" style="width: 8vw;height: 3.5vh">UPLOAD</label>
                           <input type="file" class="d-none" id="fileDriverImg" name="diverLicenceImage">
                       </div>
                   </div>
               </div>

               <div class="row mx-3">
                   <div class="col-6">
                       <button type="button" id="btnSaveDriver" class="btn btn-primary btn-sm" style="width: 6vw">Save</button>
                       <button type="button" id="btnUpdateDriver" class="btn btn-success btn-sm  mx-2" style="width: 6vw">Update</button>
                       <button type="button" id="btnDeleteDriver" class="btn btn-danger btn-sm  mx-2" style="width: 6vw">Delete</button>
                   </div>
               </div>

           </form>

           <div class="d-flex justify-content-center mt-5">
               <table>
                   <thead>
                   <tr>
                       <th>ID</th>
                       <th>NAME</th>
                       <th>CONTACT</th>
                       <th>E-MAIL</th>
                       <th>NIC</th>
                       <th>DRIVER NIC</th>
                       <th>USERNAME</th>
                   </tr>
                   </thead>
                   <tbody id="tblDriver">

                   </tbody>
               </table>
           </div>

       </div>
    </div>

    <div id="car">

       <div class="container-fluid">

           <div class="col-6">
               <h1 class="h3 mb-0 text-gray-800">Car</h1>
           </div>
           <form id="carForm">
           <div class="row">
               <div class="col-12">
                       <div class="row justify-content-around mt-4">
                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtRegNum" placeholder="Register Number">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtBrand"  placeholder="Brand">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtColor" placeholder="Color">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtPassenger" placeholder="Passenger">
                           </div>

                           <div class="dropdown">
                               <select  name="cars" id="txtCarType"  style="width: 13vw;height:4vh;border-radius:5px;opacity: 0.5">
                                   <option value="" disabled selected>Type</option>
                                   <option value="">Luxury</option>
                                   <option value="">Premium</option>
                               </select>
                           </div>

                       </div>

                       <div class="row justify-content-around mt-4">
                           <div class="dropdown">
                               <select name="cars" id="txtFuelType"  style="width: 13vw;height:4vh;border-radius:5px;opacity: 0.5">
                                   <option value="" disabled selected>Fuel Type</option>
                                   <option value="">Petrol</option>
                                   <option value="">Diesel</option>
                               </select>
                           </div>

                           <div class="dropdown">
                               <select name="cars" id="txtTransmissionType"  style="width: 13vw;height:4vh;border-radius:5px;opacity: 0.5">
                                   <option value="" disabled selected>Transmission Type</option>
                                   <option value="">Auto</option>
                                   <option value="">Manual</option>
                               </select>
                           </div>

                           <div class="dropdown">
                               <select name="availability" id="txtAvailabilityType"  style="width: 13vw;height:4vh;border-radius:5px;opacity: 0.5">
                                   <option value="" disabled selected>Availability</option>
                                   <option value="">Yes</option>
                                   <option value="">No</option>
                                   <option value="">Maintain</option>
                               </select>
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtCurrentMValue" placeholder="Current Meter Value">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtPriceExtraKm" placeholder="Price Extra Km">
                           </div>

                       </div>

                       <div class="row justify-content-around mt-4">
                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtWavierPayment" placeholder="Wavier Payment">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtFMD" placeholder="Free Milage Daily">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtFMDPrice" placeholder="Price">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtFMM" placeholder="Free Milage Monthly">
                           </div>

                           <div class="mb-3" style="width: 13vw">
                               <input type="text" class="form-control" id="txtFMMPrice" placeholder="Price">
                           </div>

                       </div>
               </div>
           </div>

           <div class="row mt-3">

               <div class="col-3">
                   <div class="d-flex flex-column align-items-center mt-4">
                       <img src="" id="imgFront" alt="" style="width: 18vw;height: 16vh;background-color: #EFEFEF">
                       <label for="front" class="btn  btn-outline-dark form-label mt-3" style="width: 8vw;height: 3.3vh">UPLOAD</label>
                       <input type="file" class="d-none" id="front" name="filePath_1">
                   </div>
               </div>

               <div class="col-3">
                   <div class="d-flex flex-column align-items-center mt-4">
                       <img src="" id="imgBack" alt="" style="width: 18vw;height: 16vh;background-color: #EFEFEF">
                       <label for="back" class="btn  btn-outline-dark form-label mt-3 " style="width: 8vw;height: 3.3vh">UPLOAD</label>
                       <input type="file" class="d-none" id="back" name="filePath_2">
                   </div>
               </div>

               <div class="col-3">
                   <div class="d-flex flex-column align-items-center mt-4">
                       <img src="" id="imgSide" alt="" style="width: 18vw;height: 16vh;background-color: #EFEFEF">
                       <label for="side"  class="btn  btn-outline-dark form-label mt-3" style="width: 8vw;height: 3.3vh">UPLOAD</label>
                       <input type="file" class="d-none" id="side" name="filePath_3">
                   </div>
               </div>

               <div class="col-3">
                   <div class="d-flex flex-column align-items-center mt-4">
                       <img src="" id="imgInterio"  alt="" style="width: 18vw;height: 16vh;background-color: #EFEFEF">
                       <label for="interio" class="btn  btn-outline-dark form-label mt-3" style="width: 8vw;height: 3.3vh">UPLOAD</label>
                       <input type="file" class="d-none" id="interio" name="filePath_4">
                   </div>
               </div>

           </div>

           <div class="row  mt-5 mx-1">
               <div class="col-6">
                   <button id="btnSaveCar" type="button" class="btn btn-primary btn-sm" style="width: 6vw">Save</button>
                   <button id="btnUpdateCar" type="button" class="btn btn-success btn-sm mx-1" style="width: 6vw">Update</button>
                   <button id="btnDeleteCar" type="button" class="btn btn-danger btn-sm mx-1" style="width: 6vw">Delete</button>
               </div>
           </div>
            </form>

           <div class="row mt-5 mx-2">

               <div class="dropdown">
                   <select name="cars" id="b"  style="width: 7vw;height:4vh;border-radius:5px;opacity: 0.5">
                       <option value="">All</option>
                       <option value="">Petrol</option>
                       <option value="">Diesel</option>
                   </select>
               </div>

               <div class="dropdown mx-3">
                   <select name="cars" id="a"  style="width: 11vw;height:4vh;border-radius:5px;opacity: 0.5">
                       <option value="">Vehicle Number</option>
                       <option value="">Brand</option>
                       <option value="">Color</option>
                   </select>
               </div>

               <div style="width: 17vw">
                   <input type="text" class="form-control"  placeholder="Search">
               </div>
           </div>

           <div class="d-flex justify-content-center mt-5">
               <table>
                   <thead>
                   <tr>
                       <th>ID</th>
                       <th>REGISTER NUMBER</th>
                       <th>BRAND</th>
                       <th>FUEL</th>
                       <th>TRANSMISSION</th>
                       <th>CURRENT METER VALUE</th>
                       <th>AVAILABILITY</th>

                   </tr>
                   </thead>
                   <tbody id="tblCar">

                   </tbody>
               </table>
           </div>
       </div>


    </div>

    <div id="booking">
        <div class="container-fluid">

            <div class="col-6">
                <h1 class="h3 mb-0 text-gray-800">Booking</h1>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <table>
                    <thead>
                    <tr>
                        <th>RENT ID</th>
                        <th>CUS ID</th>
                        <th>CUS NAME</th>
                        <th>PICKUP DATE</th>
                        <th>PICKUP TIME</th>
                        <th>RETURN DATE</th>
                        <th>RETURN TIME</th>
                        <th>STATUS</th>
                    </tr>
                    </thead>
                    <tbody id="tblBooking">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="payment">

        <div class="row">

            <div class="col-6">
                <h1 class="h3 mb-0 text-gray-800">Payment</h1>
            </div>

            <div class="col-6">
                <form class="d-flex" role="search" style="left: 15vw;position: relative">
                    <input class="form-control me-2 mx-2" type="search" placeholder="Search" aria-label="Search" style="width: 16vw">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <table>
                <thead>
                <tr>
                    <th>RENT ID</th>
                    <th>CUS ID</th>
                    <th>CUS NAME</th>
                    <th>CUS CONTACT</th>
                    <th>PICKUP DATE</th>
                    <th>RETURN DATE</th>
                    <th>STATUS</th>
                </tr>
                </thead>
                <tbody id="tblPayment">

                </tbody>
            </table>
        </div>


    </div>

</section>

<main class="position-fixed top-0 start-0 vh-100 w-100 " style="z-index: 6" id="popUpRentPage">
    <div class="vh-100 w-100 position-absolute">
        <section class="popupSecAdminPanel container-fluid bg-transparent d-flex justify-content-center pox" id="driverDetailsPopupBg">
            <div class="bg-white d-flex flex-column  z-3 rounded popupDetailDiv z-3 bg-light shadow mt-5" id="driverDetailPopup">

                <div class="d-flex flex-row justify-content-between">
                    <h3 class="mt-2 mx-2">CUSTOMER RESERVATION</h3>
                    <button id="closePopUp" type="button" class="btn btn-danger mt-2 position-relative" style="width: 5vw;height: 3.5vh;right: 1vw">CLOSE</button>
                </div>
                <div style="width: 64vw;height: 2px;background-color: black;opacity: 0.2"></div>

                <div class="d-flex flex-row mt-3">
                    <div >
                        <div>
                            <table id="tblCusBooking">
                                <thead>
                                <tr>
                                    <th>CAR_ID</th>
                                    <th>BRAND</th>
                                    <th>DRIVER_STATUS</th>
                                    <th>WAVIER PAYMENT</th>
                                </tr>
                                </thead>
                                <tbody id="tBodyCusBooking">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <div style="border-radius: 3px">
                            <img id="imgSlip" src="" style="width: 22vw;height: 32vh;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px" class="mx-2">
                        </div>

                        <div class="mt-2">
                            <label for="fullWavierCoast" class="form-label mx-2">Full Wavier Coast</label>
                            <input type="text" class="form-control mx-1" id="fullWavierCoast" style="width: 23vw" >
                        </div>

                        <div class="d-flex flex-row mt-4 justify-content-around">
                            <div>
                                <button id="btnAccept" type="button" class="btn btn-outline-success" style="width: 10.5vw">ACCEPT</button>
                            </div>
                            <div>
                                <button id="btnDecline" type="button" class="btn btn-outline-danger" style="width: 10.5vw">DECLINE</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>

<main class="position-fixed top-0 start-0 vh-100 w-100 " style="z-index: 6" id="popUpRentPage2">
    <div class="vh-100 w-100 position-absolute">
        <section class="popupSecAdminPanel container-fluid bg-transparent d-flex justify-content-center pox" id="driverDetailsPopupBg2">
            <div class="bg-white d-flex flex-column  z-3 rounded popupDetailDiv z-3 bg-light shadow mt-5" id="driverDetailPopup2">

                <div class="d-flex flex-row justify-content-between">
                    <h3 class="mt-2 mx-2">CHECK OUT</h3>
                    <button id="closePopUp2" type="button" class="btn btn-danger mt-2 position-relative" style="width: 5vw;height: 3.5vh;right: 1vw">CLOSE</button>
                </div>
                <div style="width: 75.5vw;height: 2px;background-color: black;opacity: 0.2"></div>

                <div class="d-flex flex-row mt-3 justify-content-between">
                    <div>
                        <div>
                            <table id="tblCheckOut">
                                <thead>
                                <tr>
                                    <th>CAR ID</th>
                                    <th>BRAND</th>
                                    <th>PAYMENT</th>
                                    <th>EXTRA_KM</th>
                                    <th>DRIVER</th>
                                    <th>DAMAGE</th>

                                </tr>
                                </thead>
                                <tbody id="tblCheckOutTbody">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="position-relative" style="left: -1.7vw">

                        <div class="d-flex flex-row justify-content-between">
                          <div style="width: 9.5vw">
                              <label  class="form-label">PICK UP DATE</label>
                              <input type="text" id="txtPaymentPickupDate" class="form-control" readonly>
                          </div>
                          <div style="width: 9.5vw">
                              <label  class="form-label">RETURN DATE</label>
                              <input type="text" class="form-control"  id="txtPaymentReturnDate" readonly>
                          </div>
                      </div>

                        <div class="d-flex flex-row justify-content-between ">
                            <div class="" style="width: 17.5vw">
                                <button id="btnCalculate" type="button" class="btn btn-warning mt-4 mx-1 position-relative" style="width: 19.5vw;top: 0.3vw">CALCULATE</button>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label  class="form-label">HAVE TO PAY</label>
                            <input type="text" class="form-control" id="txtHaveToPay">
                        </div>

                        <div class="mt-3">
                            <button type="button" class="btn btn-success" id="btnCheckOut" style="width:20vw">CHECK OUT</button>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
</main>


<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../controller/navigations.js"></script>
<script src="../controller/UserController.js"></script>
<script src="../controller/DriverController.js"></script>
<script src="../controller/CarController.js"></script>
<script src="../assets/script/Dashboard.js"></script>
<script src="../controller/BookingController.js"></script>
<script src="../controller/PaymentController.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../util/Alert.js"></script>

</body>

</html>
