<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/styles/customerPage.css">
    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body >
<header >
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
            <img class="navbar-brand mx-4" src="../assets/img/logo.png" id="logo">

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active"  aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="  justify-content-end">
                <a href="LoginForm.html"><button class="btn btn-outline-dark" type="submit">SIGN IN</button></a>
                <a href="LoginForm.html"><button class="btn btn-outline-dark" type="submit">SIGN UP</button></a>
            </div>
        </div>
    </nav>

</header>

<main style="overflow-x: hidden">
    <div >
        <img src="../assets/img/customerCar.jpg" style="height: 50vh">
    </div>

    <div class=" mt- d-flex justify-content-between">
                <p class="mx-5" style="font-size: 3vw;margin: 0">Browse Your Car</p>

            <div class="d-flex mt-4" style="right: 3vw;position:relative;">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height: 4.3vh;width: 15vw" >
                    <button class="btn btn-outline-success" type="submit" style="height: 4.3vh;width: 5vw">Search</button>
                </form>
            </div>
        </div>

    <div class="d-flex justify-content-center">

            <div class=" row row-cols-1 row-cols-md-3 g-4 mt-3" id="carsAppend" style="border: 1px solid red;width: 90vw;">

            </div>

        </div>
</main>

<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../controller/Customer_CarController.js"></script>
</body>
</html>