<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER PAGE</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/styles/customerPage.css">
    <link rel="stylesheet" href="../assets/styles/normalize.css">

</head>
<body style="overflow-x: hidden">

<nav style="  position: fixed;z-index: 4;width: 100vw" class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Brand/logo -->
    <a class="navbar-brand mx-4" href="#">
        <!--        <img src="" alt="logo" style="width:140px;">-->
        <h4 style="color: white">CAR RENTAL</h4>
    </a>

    <!-- Links -->
        <ul class="navbar-nav " style="position: relative;left: 79vw">
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../assets/img/sms.png" style="width: 22px;height: 22px" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../assets/img/noti.png" style="width: 22px;height: 22px" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../assets/img/profile.png" style="width: 22px;height: 22px" alt=""></a>
            </li>
        </ul>
</nav>

<section class="side-bar-warp" style="position: relative;z-index: 1;top: 6vh">
    <div class="sidebar-menu full-side-bar flowHide ">
        <nav class="" >
            <ul class="navbar-nav mt-4">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/dash.png" alt="" style="width: 20px;height: 20px"></span>
                        <span id="dashBtn" class="fadeInRight animated nav-link-name">DASHBOARD</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/book.png" alt="" style="width: 20px;height: 20px"></span>
                        <span id="bookingBtn" class="fadeInRight animated nav-link-name">BOOKING</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="sidebar-icon"><img src="../assets/img/logout.png" alt="" style="width: 22px;height: 20px" alt=""></span>
                        <!--                        <span class="fadeInRight animated nav-link-name name-hide tax-show">Log Out</span>-->
                        <span class="fadeInRight animated nav-link-name">LOGOUT</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</section></section>

<section id="mainContext" style="z-index: 1;position: relative;top: 8vh">

  <div class="container-fluid" style="background-color: #F6F8F9">

      <div id="dashboard">
          <div class="d-sm-flex align-items-center justify-content-between mb-4 mx-2">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>
      </div>

      <div class="row justify-content-center">

          <div class="col-4" style="height: 58vh">
              <div class="mx-4" style="width: 25vw;height: 58vh;border:1px solid green;background-color: white">

              </div>
          </div>

          <div class="col-4" style="height: 58vh">
              <div class="mx-3" style="width: 25vw;height: 58vh;border:1px solid green"></div>
          </div>

          <div class="col-4" style="height: 58vh">
              <div class="" style="width: 25vw;height: 58vh;border:1px solid green"></div>
          </div>


      </div>
  </div>

</section>


</body>
</html>