<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/loginPage.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">


</head>
<body style="background: #E2E5EC">
<header></header>

<main>
    <div id="form">
            <div>
                <img id="logo" src="../assets/img/logo.png">
                <img id="loginpic" src="../assets/img/login.jpg">
            </div>
            <div>
                <div id="innerDiv">
                    <h1 id="login" class="d-flex justify-content-center">LOGIN</h1>
                    <div id="formDetail">
                        <form>

                            <div class="mb-3 d-flex justify-content-center">
                                <input type="text" class="form-control" id="username" placeholder="UserName">
                            </div>

                            <div class="mb-1 d-flex justify-content-center">
                                <input type="password" class="form-control" id="pass" placeholder="Password">
                            </div>

                            <div class="mb-3 form-check">
                                <label class="form-check-label d-flex justify-content-end me-5" id="forget" >Forget Password</label>
                            </div>

                            <button type="button" class="btn btn-primary mb-5" id="subBtn">Submit</button>
                            <div class=" d-flex justify-content-center">
                                <label class="form-check-label" id="signUp" >Doesn’t have an account yet? <a href="SignUp.html" id="sign"> SIGN UP</a></label>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
    </div>

</main>

<header></header>
<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../controller/LoginFormController.js"></script>


</body>
</html>