<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mx-4" href="#">CAR RENTEL</a>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav mx-4">
                    <li class="nav-item">
                        <button type="button" class="btn border-warning mx-2">SIGN UP</button>
                    </li>
                    <button type="button" class="btn border-warning">SIGN IN</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container" style="height: 94vh;">
        <div class="row">
            <div class="col-sm-4 " style="background-color: red">
                <h1>PROVIDING A</h1>
                <h1>PROFESSIONAL &</h1>
                <h1>RELAIBLE SERVICE</h1>
            </div>
            <div class="col-8" style="background-color: green;height: 20vh"></div>
        </div>
    </div>

</main>

<footer></footer>

</body>
</html>