<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/styles/SIgnUp.css">
    <link rel="stylesheet" href="../assets/styles/normalize.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">


</head>
<body>
<section>
    <div id="form" class="container-fluid ">
        <h1>SIGN UP</h1>

        <form class="mt-5" id="userForm">

            <div class="row justify-content-between container-fluid mt-3">
                <div>
                    <input type="text" class="form-control" id="cusID" name="cusID" placeholder="CustomerID" readonly>
                </div>
            </div>

            <div class="row justify-content-between container-fluid mt-3">
                <div class=" col-6">
                    <input type="text" class="form-control" id="txtName" name="cusName" placeholder="Full Name">
                </div>
                <div class=" col-6">
                    <input type="text" class="form-control" id="txtUserName" name="userName" placeholder="UserName">
                </div>
            </div>

            <div class="row justify-content-between container-fluid mt-3">
                <div class=" col-6">
                    <input type="text" class="form-control" id="txtAddress" name="cusAddress" placeholder="Address">
                </div>
                <div class=" col-6">
                    <input type="text" class="form-control" id="txtContact" name="contact" placeholder="Contact">
                </div>
            </div>

            <div class="row justify-content-between container-fluid mt-3">
                <div>
                    <input type="text" class="form-control" id="txtEmail" name="cusEmail" placeholder="Email">
                </div>
            </div>

            <div class="row justify-content-between container-fluid mt-3">
                <div>
                    <input type="text" class="form-control" id="txtLicense" name="licenceNumber" placeholder="License Number">
                </div>
            </div>

            <div class="row justify-content-between container-fluid mt-3">
                <div class=" col-6">
                    <input type="text" class="form-control" id="txtPass" name="password" placeholder="Password">
                </div>
                <div class=" col-6">
                    <input type="text" class="form-control" id="txtConPass" placeholder="Confirm Password">
                </div>
            </div>

        <div class="row mt-5 justify-content-around">

            <div class="col-5">
                <div class="d-flex flex-column align-items-center">
                    <img src=""  alt="" style="width: 12vw;height: 14vh;background-color: #EFEFEF">
                    <label  class="btn  btn-outline-dark form-label mt-3 btn-sm ">UPLOAD</label>
                    <input type="file" class="d-none" id="cusNicImage" name="nicImage">
                </div>
            </div>


            <div class="col-5">
                <div class="d-flex flex-column align-items-center">
                    <img src=""  alt="" style="width: 12vw;height: 14vh;background-color: #EFEFEF">
                    <label  class="btn  btn-outline-dark form-label mt-3 btn-sm ">UPLOAD</label>
                    <input type="file" class="d-none" id="cusLicenseImage" name="licenseImage">
                </div>
            </div>
        </div>

        <div class="mt-5 text-center d-grid gap-2 col-9 mx-auto">
            <button id="btnRegister" type="button" class="btn btn-primary">REGISTER</button>
        </div>

        </form>

    </div>
</section>
<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../controller/UserController.js"></script>

<script>


 // $('#btnRegister').click(function () {
 //
 //     //ah ekane ....api pissu waila idiye okkoma aya ....heee hee thankss....den dennm wedeeeee
 //     //ok
 //     // byeee
 //     ///byeeeeeeeee
 //
 //     $.ajax({
 //         url:'http://localhost:8080/Back_End_war/customer',
 //         method:'post',
 //         data:formData,
 //         //contentType: 'application/x-www-form-urlencoded; charset=utf-8',
 //          //contentType: false, // this is also should be done if you wanna upload files
 //          //processData: false, //this one also
 //         success:function (res) {
 //             alert(res+"Customer Added Success");
 //         },error:function (err) {
 //             alert("ERROR SOMETHING")
 //             console.log(err)
 //         }
 //     });
 // })



</script>
</body>
</html>