<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
</head>
<body>
<h1>Contact Us</h1>
<form action="mailto:you@yourdmainhere.com" method="post" enctype="text/plain">
    FirstName: <input type="text" name="FirstName">
    Email: <input type="text" name="Email">
    <input type="submit" name="submit" value="Submit">
</form>
</body>

<script></script>
</html>
